
.title-bar {
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    top: 0;
    width: 100%;
}

.title-bar h1 {
    margin: 0;
    font-size: 2.5rem; 
    font-weight: bold; 
}


.mission-title {
    color: black; 
    font-size: 1.8rem; 
    text-align: center; 
    margin-top: 20px; 
}


.mission-text {
    color: black; 
    font-size: 1.2rem; 
    text-align: center; 
    margin: 20px auto; 
    width: 60%; 
}


.about-container {
    background-image: url('forest_1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}


.blocks-container {
    display: flex;
    justify-content: space-around; 
    padding: 20px;
}

.block {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 30%; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}

.block:hover,
.block:focus, 
.block:active { 
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
    .blocks-container {
        flex-direction: column; 
        align-items: center;
    }

    .block {
        width: 80%; 
        margin-bottom: 20px; 
    }
}


.block.active {
    transform: scale(2.0);
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%) scale(2.0); 
    z-index: 10; 
    transition: transform 0.3s ease-in-out; 
    width: auto; 
    max-width: 90%; 
    max-height: 90%; 
    overflow: auto; 
}


.close-button {
    position: absolute;
    top: 10px; 
    right: 10px; 
}


.block.team-block {
    background-image: url('team_1.jpg');
    background-size: cover;
    background-position: center;
}


.team-members-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin-top: 20px; 
}

.team-member {
    background: #e0e0e0; 
    padding: 10px; 
    text-align: center; 
    border-radius: 5px; 
}




.block.history-block { 
    background-image: url('history.jpg'); 
    background-size: cover;
    background-position: center;
}

.block.service-block { 
    background-image: url('service.jpg'); 
    background-size: cover;
    background-position: center;
}


.service-details {
    text-align: left;
}


.service-details ul {
    padding: 0; 
    list-style-type: none; 
}

.service-details li {
    margin-bottom: 10px; 
    position: relative; 
    padding-left: 15px; 
}

.service-details li::before {
    content: '|'; 
    position: absolute;
    left: 0;
    color: black; 
    font-weight: bold; 
}