.App-link {
  color: #61dafb;
}

.helloWorld{
  text-align: center;
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: calc(55px + 2vmin);
  color: rgb(3, 3, 3);
  
}

.loginButton{
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: calc(5px + 2vmin);
  text-align: center; /* Center the text horizontally */
  line-height: 2; /* Center the text vertically by setting line-height */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  color: white;
  background-color: rgb(60, 63, 62);
}