.SearchPageList{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px white;
    border-radius: 20px;
    margin-top: 1rem;
    overflow-y: scroll;
    align-items: center;
    
}